.check-out-product img {
  max-height: 6rem;
}
#continue-shipping {
  background-color: #000000;
  color: white;
  font-family: "RBNo3.1";
}
#continue-shipping:hover {
  background-color: #ac0e28;
  color: white;
}
ul,
ol {
  list-style: none;
}
input {
  border: none;
  outline: none;
}
#return {
  font-family: "RBNo3.1";
}
#return:hover {
  color: #ac0e28;
}
.select-country {
  border: none;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
