#login_box {
  margin: 5% auto;
  max-width: 400px;
}
#login_box img {
  width: 40%;
  margin: 0 auto;
}
#credentials {
  position: fixed;
  top: 0;
  right: 0;
}

@media screen and (max-width: 992px) {
  #login_box {
    margin: 5% 0 0 0;
  }
  #credentials {
    position: relative;
  }
}
