.gallery-carrousel .swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  display: none;
}

.gallery-carrousel .swiper-button-prev {
  --swiper-theme-color: black;
  --swiper-navigation-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.192);
  position: absolute;
  top: calc(20px / 2);
  left: calc(50% - 20px);
  transform: rotate(90deg);
}
.gallery-carrousel .swiper-button-next {
  --swiper-theme-color: black;
  --swiper-navigation-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.192);
  position: absolute;
  top: initial;
  bottom: 0;
  left: calc(50% - 20px);
  transform: rotate(90deg);
}

.background-gray {
  background-color: #f7f7f7;
  background: linear-gradient(
    90deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.product-desc {
  border: 1px solid lightsteelblue;
  padding: 1rem;
}

.style-min-product {
  display: none;
}
.description-container {
  background-color: #f7f7f7;
}

.btn-image {
  width: 80px;
  margin-bottom: 1rem;
}
.btn-image:hover {
  border: 1px solid #e01637;
}

.redirect-link:hover {
  color: #e01637;
}

.swiper-pagination-bullet {
  --swiper-theme-color: black;
}

@media (max-width: 1199px) {
  .btn-image {
    width: 55px;
    margin-bottom: 1rem;
  }
}

@media (max-width: 991px) {
  .style-min-product {
    display: block;
  }
}
