.product-desc {
  border: 1px solid lightsteelblue;
  padding: 1rem;
}
.description-container {
  background-color: #f7f7f7;
}

.btn-image {
  max-width: 50px;
  max-width: 50px;
  margin-right: 2px;
}
.btn-image:hover {
  border: 1px solid black;
}
