.product-desc {
  border: 1px solid lightsteelblue;
  padding: 1rem;
}

.style-min-product {
  display: none;
}
.description-container {
  background-color: #f7f7f7;
}

.btn-image {
  width: 80px;
  margin-bottom: 1rem;
}
.btn-image:hover {
  border: 1px solid #e01637;
}

.redirect-link:hover {
  color: #e01637;
}

@media (max-width: 991px) {
  .style-min-product {
    display: block;
  }
}
