.main {
  background-image: url("https://i.postimg.cc/mZc1vdpH/350527767-594345085873632-6165591538970085980-n.png");
  background-size: cover;
  background-position: center;
  height: 36rem;
  object-fit: cover;
  transform: scaleX(-1);
  padding: 0 !important;
}

.mainHeadset {
  transform: scaleX(-1);
  width: 30rem;
  height: 12rem;
  padding: 3rem 0 0 4rem;
}

.divShape {
  transform: scaleX(-1);
  width: 30rem;
  height: 0;
  border-top: 60px solid white;
  border-left: 60px solid transparent;
}

.shopLink {
  font-family: "RBNo3.1";
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.modelTitle {
  font-family: "RBNo3.1";
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 0;
}

.modelSubtitle {
  font-family: "RBNo3.1";
  font-size: 1.2rem;
}
.shopLink:hover span {
  color: #e01637;
}
.shopLink #arrow {
  transition: transform 0.2s linear;
  margin-left: 0.5rem;
  transform: rotate(0);
}
.shopLink:hover #arrow {
  transform: rotate(45deg);
}
.shopLink:hover span .icon {
  fill: #e01637;
}
