.cart-offcanvas-actions {
  background-color: #f7f7f7;
}
#view-bag {
  border: 1px solid black;
  padding: 10px 5px 10px 5px;
  font-family: "RBNo3.1";
}
.bag-arrow .icon {
  margin-left: auto;
  transform: rotate(0) !important;
  transition: transform 0.2s linear !important;
}

#view-bag:hover {
  border-color: #e01637;
  color: #e01637;
  font-family: "RBNo3.1";
}
#view-bag:hover .bag-arrow .icon {
  transform: rotate(45deg) !important;
  fill: #e01637;
}
#check-out {
  background-color: #c8102e;
  color: white;
  padding: 11px 5px 11px 5px;
  font-family: "RBNo3.1";
}
.check-out-arrow .icon {
  margin-left: auto;
  transform: rotate(0) !important;
  transition: transform 0.2s linear !important;
}
#check-out:hover {
  background-color: #ac0e28;
}
#check-out:hover .check-out-arrow .icon {
  transform: rotate(45deg) !important;
}
#check-out .icon {
  fill: white;
}
.item-name {
  font-size: 13px;
  font-family: "Figtree";
}
.my-bag {
  font-family: "RBNo3.1";
}
.price-tag {
  font-family: "RBNo3.1";
}
